@import url('./flex.css');

.ant-layout-header {
  @apply bg-white;
}

.ant-layout-sider {
  @apply min-w-sider w-sider max-w-sider !important;
}

code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.list-disc-li {
  @apply mt-li mb-li;
}

ul {
  li {
    @apply list-disc-li;
  }
}

.page-title {
  @apply text-h1 font-medium;
}

.article {
  @apply h-full overflow-y-auto;
}

.article-title {
  @apply text-h2 mt-6 mb-2;
}

.href {
  @apply text-sky-400;
}

.ul {
  @apply list-disc list-inside;
}

.text-assist {
  @apply text-gray-500;
}

.assist {
  @apply text-assist;
}

.markdown-container {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  color: rgb(238, 238, 238);
  background: rgb(47, 47, 47);
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  line-height: 1.5em;
  tab-size: 4;
  hyphens: none;
  overflow: auto;
  position: relative;
  margin: 0.5em 0px;
  padding: 1.25em 1em;
}

.language-js,
.language-ts {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  color: rgb(238, 238, 238);
  background: rgb(47, 47, 47);
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  line-height: 1.5em;
  tab-size: 4;
  hyphens: none;
  overflow: auto;
  position: relative;
  margin: 0.5em 0px;
}

/* .language-json {
  color: rgb(238, 238, 238);
  background: rgb(47, 47, 47);
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  line-height: 1.5em;
  tab-size: 4;
  hyphens: none;
  @apply text-left whitespace-pre;
} */
