@import url("./flex.css");

.ant-layout {
  @apply w-full overflow-x-hidden;
}

.ant-layout-header {
  @apply bg-white !important;
}

.ant-layout-sider {
  @apply bg-white min-w-sider w-sider max-w-sider !important;
}

.ant-layout-footer {
  @apply bg-white !important;
}

code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.list-disc-li {
  @apply mt-li mb-li;
}

ul {
  li {
    @apply list-disc-li;
  }
}

.page-title {
  @apply text-h1 font-medium;
}

.article {
  @apply flex h-full overflow-y-auto;
}

.article-title {
  @apply font-semibold text-h2 mt-6 mb-2;
}

.article-sub-title {
  @apply font-medium text-h3 mt-6 mb-2;
}

.href {
  @apply text-sky-400;
}

.ul {
  @apply list-disc list-inside;
}

.text-assist {
  @apply text-gray-500;
}

.assist {
  @apply text-assist;
}

.markdown-container {
  background: #f2f4f5;
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  line-height: 1.5em;
  hyphens: none;
  overflow: auto;
  position: relative;
  margin: 0.5em 0px;
  padding: 1.25em 1em;
  & code {
    border: none;
  }
}

.min-w-header-menu {
  min-width: 500px;
}
