.home {
  @apply w-home max-h-300 overflow-hidden clear-both rounded-10;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
  transition: all 0.5s ease-out;
}

.title-bar {
  @apply py-5 text-center bg-gray border-solid border-b-gray-800;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
}

.text-body {
  @apply h-250 p-10 font-medium text-left overflow-hidden text-gray-50 bg-black;
  text-shadow: #000 0px 1px 0px;
  transition: all 0.5s ease-out;
}
